.auth__input {
    width: 100%;
    height: 27px;
    box-sizing: border-box;
    border: none;
    background-color: black;
    border-bottom: 2px solid #CCCCCC;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    outline: none;
    margin-bottom: 30px;
}

.auth__input:last-child {
    margin-bottom: 0;
}

.auth__input::placeholder {
    color: #FFFFFF;
}